* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0a192f;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }
  
  table {
    border-collapse: collapse;
    margin: 2rem auto;
  }
  
  td {
    border: 5px solid white;
    height: 150px;
    width: 150px;
  }
  
  div {
    height: 100%;
    width: 100%;
    font-size: 10rem;
    line-height: 150px;
  }
  
  #cell0, #cell1, #cell2, #cell3, #cell5, #cell6, #cell7 {
    border-right: none;
  }
  
  #cell0, #cell1, #cell2, #cell4, #cell6, #cell7, #cell8 {
    border-bottom: none;
  }
  
  #cell0 {
    color: red;
    content: "X";
  }
  
  #cell1 {
    color: teal;
    content: "O";
  }
  
  #cell2 {
    color: red;
    content: "X";
  }
  
  #cell3 {
    color: teal;
    content: "O";
  }
  
  #cell4 {
    color: red;
    content: "X";
  }
  
  #cell5 {
    color: teal;
    content: "O";
  }
  
  #cell6 {
    color: red;
    content: "X";
  }
  
  #cell7 {
    color: teal;
    content: "O";
  }
  
  #cell8 {
    color: red;
    content: "X";
  }
  